*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Telex', sans-serif;
}
body{
    scroll-behavior: smooth;
    background-color: rgba(0, 0, 0, 0.046) ; 

    /*background-image:linear-gradient(to top right, rgb(34, 255, 233), rgb(90, 153, 240)); /*  rgb(22, 31, 36) #d5dde2 20%,  #def2fbf) 
    background-position: center; */
}
.header{
    min-height:100vh;
    width:100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.535),rgba(0, 0, 0, 0.356)),url('../images/bg.jpg');
    background-position: center;
    background-size: cover;
    position:relative;
}
nav{
    display: flex;
    padding: 2%;
    padding-left: 50px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cccccca1;
}
nav img{
    width:125px;
}
.navlinks{
    flex:1;
    text-align:right;
}
.navlinks ul li{
    list-style: none;
    display: inline-block;
    padding: 15px 10px;
    position: relative;
}
.navlinks ul li a{
    color:white;
    border:1px solid transparent;
    border-radius: 3px;
    padding:7px 20px;

    /*
    color:white;
    text-decoration: none;
    font-size: 15px;*/
}

.navlinks ul li a:hover{
    background: #205374;
    transition: 0.7s;
}
/*
.navlinks ul li::after{
    content:'';
    width:0%;
    height: 2px;
    background-color: #3498db;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navlinks ul li:hover::after{
    width:100%;
}
*/
.textbox{
    width: 90%;
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding-top: 8rem;
}
.textbox h1{
    font-size: 60px;
} 
.textbox p{
    margin: 10px 0 40px;
    font-size: 16px;
    color:rgba(255, 255, 255, 0.788);
}  

button{
    width:175px;
    padding: 15px;
    text-align: center;
    margin:20px 10px;
    border-radius: 25px;
    font-weight:bold;
    font-size: 0.95em;
    border: 1px solid rgb(255, 255, 255);
    background: transparent;
    color:white;
    cursor: pointer;
    position: relative;
    overflow:hidden;
}

span{
    background: rgb(50, 200, 230);
    height: 100%;
    width:0;
    border-radius: 25px;
    position:absolute;
    left:0;
    bottom: 0;
    z-index: -1;
    transition:0.5s
}

button:hover span{
    width:100%;
}

button:hover{
    border:none;
    color: rgb(10, 73, 90);
    border: 1px solid rgb(0, 0, 0);
    font-weight: bolder;
    transition: 1s;
}
 
.btn{
display:inline-block;
text-decoration: none;
color:whitesmoke;
border: 1px solid whitesmoke;
padding:12px 34px;
font-size: 13px;
background:transparent;
position:relative;
cursor:pointer;
}
.btn:hover{
    border: 1px solid #3498db;
    background-color: #3498db;
    transition: 0.8s;
    color:white;
}  

nav .fa{
    display: none;
}

@media(max-width:700px){
    .textbox h1{
        font-size: 35px;
    }
    .navlinks ul li{
        display: block;
    }
    .navlinks ul li a{
        border:1px solid transparent;
        border-radius: 3px;
    }
    .navlinks{
        position: fixed;
        background-color:  #205374;
        height: 100vh;
        width:200px;
        top: 0;
        right: -200px;  
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color:white;
        margin: 10px;
        font-size: 22px;
        cursor:pointer;
    }
    .navlinks ul{
        padding:40px;
    }
    nav img{
        width:110px;
    }
    .navlinks ul li a:hover{
        color: white;
        background-color: #122d3f5a;
        transition: 0.5s;
    }
}
 
.course{
    color:#205374;
    width:80%;
    margin:auto;
    text-align: center;
    padding-top: 100px ;
}
h1{
  font-size: 36px;
  font-weight: 600;  
}
p{
    color:#777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding:10px;
}  
 
/*
.row{
    margin-top:5%;
    display: flex;
    justify-content: space-between;
}
.coursecol{
    flex-basis: 31%;
    background: #f3f6ff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;   
}
h3{
    text-align:center;
    font-weight: 600;
    margin:10px 0;
}
.coursecol:hover{
    box-shadow: 0 0 20px 0 #cbd9ff;
    ;
} 
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}  */

/*.para1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}  */
 /*
.para1 img{
    max-width:320px;
    float:left; 
    border: 3px solid white;
    border-radius: 10px;
    margin-right: 25px;
 }
 .wrapper{
    margin: 150px auto;
    width:70%;
 }
 .para1 h2{
    font-size: 42px;
 }
 .para1 p{
    font-size: 16px;
 }

 
.para2 img{
    max-width:320px;
    float:left; 
    border: 3px solid white;
    border-radius: 10px;
    margin-right: 25px;
 }
 .wrapper{
    margin:150px auto;
    width:70%;
 }
 .para2 h2{
    font-size: 42px;
 }
 .para2 p{
    font-size: 16px;
 }

 
.para3 img{
    max-width:320px;
    float:left; 
    border: 3px solid white;
    border-radius: 10px;
    margin-right: 25px;
 }
 .wrapper{
    margin:150px auto;
    width:70%;
 }
 .para3 h2{
    font-size: 42px;
 }
 .para3 p{
    font-size: 16px;
 }   */

/*    .desccontainer{
    color: #205374;
    max-width: 800px;
    margin: 40px auto 20px;
 }
 .desccontainer p{
    text-align:justify;
 }
 .desccontainer .floatimg{
    max-width: 400px ;
 }

 .desccontainer .floatimg.right{
    float:right;
    margin-left: 30px;
    margin-bottom: 10px;
 }

 .desccontainer .floatimg.left{
    float:left;
    margin-right: 20px;
    margin-bottom: 10px;
    padding-bottom: 40px;
 }

 .desccontainer .floatimg.right{
    float:right;
    margin-left: 30px;
    margin-bottom: 10px;
 }  */

 .container{
    padding:6%;
    font-family:'Telex';
    font-size: 26px;
    color:#205374;
    font-weight: 300;
    line-height: 24px;
 }
 
 .container p{
    font-size: 17px;
    line-height: 1.6em;
    color:rgba(0, 0, 0, 0.626);
    margin-bottom: 15px;
 }

.thumbnail{
    width:450px;
    position:relative;
    background-color: ecf1ff;
    overflow:hidden;
    border-radius: 8px;
    margin-bottom: 10px;
}

.thumbnail:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    border: 8px transparent white;
    z-index: 2;
    overflow:hidden;
    box-sizing: border-box;
}

.thumbnail img{
    width:100%;
    height: 100%;
    border-radius: 8px;
    transform:scale(1) rotate (0deg);
    transition:all 0.5s linear;
    
}

.thumbnail:hover img{
    transform:scale(1.1);
}

.thumbnail.right{
    float:right;
    margin-left:20px;
}

.thumbnail.left{
    float:left;
    margin-right:20px;
}

@media screen and (max-width:767px)
{
    .thumbnail.right{
        float:none;
        margin-left:0;
    }
    
    .thumbnail.left{
        float:none;
        margin-right:0;
    }  
    .thumbnail{
        width:100%;
    }
}

#test{
    background-image: linear-gradient(rgba(0, 0, 0, 0.68),rgba(0, 0, 0, 0.621)),url('../images/about.jpeg');
    padding: 5rem 0;
    background-position: center;
    background-size: cover;
}

.contain{
width:100%;
max-width:1100px;
margin:0 auto;
}

.testtop, .testcontainer{
padding: 0 1rem;
}

.testtop{
    text-align: center;
}

.testtop h1{
    font-size: 2rem;
    color: whitesmoke;
    margin-bottom: 1rem;
    line-height: 2rem;
    letter-spacing: 0.05rem;
}

.testtop p{
    color:rgb(171, 171, 171);
    font-style: italic;
    font-size:0.91rem;
}

.testitem img{
    width:150px;
    height: 150px;
    object-fit:cover;
    border-radius:50%;
    border:0px solid white;
    box-shadow: rgba(128, 140, 145, 0.416) 4px 4px 10px;
    z-index: 99;
    transition: 0.5s;
}

.testiteminfo{
    background-color: white;
    padding: 5.5rem 2rem 2rem 2rem;
    margin-top: -4rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.733) 4px 4px 10px;
    transition:0.5s;
}
.testiteminfo p{
    text-align: left;
}
.testitem img:hover{
    box-shadow:#d4e1ff 6px 6px 12px;
}

.testiteminfo:hover{
    box-shadow: #c6d7ff 6px 6px 12px;
}

.testitem{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.testcontainer{
    display:flex;
    gap:2rem;
    margin-top: 2rem;
}

.testiteminfo{
    color: #7c8595;
    font-style: italic;
    line-height:1.5rem;
    margin-bottom: 1rem;
    text-align: center;

}

.testiteminfo h6{
    color:#2773a6;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.testrating{
    text-align: center;
    color: #fdcc28;
}

@media(max-width:768px)
{
    .testcontainer{
        flex-direction: column;
    }
}

.contact{
    margin: 100px auto;
    width:80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.68),rgba(0, 0, 0, 0.621)),url('../images/banner.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.contact h1{
    color:white;
    margin-bottom: 40px;
    padding: 0;
}
@media(max-width:700px){
    .contact h1{
        font-size: 24px;
        padding:22px;
    }
}
.footer{
    background-color:#d1d7e667;
    color: #205374;
    width:100%;
    text-align: center;
    padding: 10px 0;
}
.footer h4{
    margin-bottom: 12px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa-brands{
    color: #2c73a2;
    margin: 0 13px;
    margin-top: 15px;
    cursor: pointer;
    padding:18px 15px;
}

/* about us */
.subheader{
    height: 50vh;
    width:100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.535),rgba(0, 0, 0, 0.356)),url('../images/aboutus.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    color:white;
}
.subheader h1{
    margin-top: 70px;
}
.aboutus{
    width:80%;
    margin:auto;
    padding-top: 80px ;
    padding-bottom: 50px;
}
.aboutcol{
    flex-basis: 48%;
    padding: 30px 2px;
}
.aboutcol h1{
    color:#205374;
}
.aboutcol img{
    width: 100%;
}
.aboutcol p{
    padding: 15px 0 25px;
}
.btn1{
    border:1px solid  #3498db;
    background: transparent;
    color: #3498db;
}
.btn1:hover{
    color: whitesmoke;
}

/* contact us */
.row{
    display:flex;
    padding-right: 50px;
    justify-content: space-between;
}

.contactus{
    width:80%;
    margin: auto;
}
.contactcol h3{
    color:#205374;
    text-align: center;
}
.contactcol{
    margin-top: 90px;
    line-height: 2em;
    flex-basis: 48%;
    margin-bottom:90px;
    margin-left: 50px;
}

.contactcol div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contactcol div .fa{
    font-size: 20px;
    color:#2c73a2;
    margin: 10px;
    margin-right: 20px;
}
.contactcol div p{
    padding:0;
}

.contactcol div h5{
    margin-bottom: 5px;
    font-weight: 400;
    color:#205374;
}
.contactcol input, .contactcol textarea{
    width:100%;
    padding:15px;
    margin-bottom:17px;
    outline:none;
    background-color: rgba(255, 255, 255, 0.1) ; 
    border:1px solid #29292942;
    box-sizing: border-box;
}   

.para1{
    color: #205374;
    width:80%;
    margin:auto;
    padding-top: 80px ;
    padding-bottom: 50px;
}
.para1col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.para1col h1{
    font-size:x-large;
}
.para1col img{
    width: 100%;
    width: 435px;
    
}
.para1col p{
    padding: 15px 0 25px;
}
.btn1{
    border:1px solid  #3498db;
    background: transparent;
    color: #3498db;
}
.btn1:hover{
    color: whitesmoke;
}

.para2{
    color:#205374;
    width:80%;
    margin:auto;
    padding-top: 80px ;
    padding-bottom: 50px;
}
.para2col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.para2col h1{
    font-size:x-large;
}
.para2col img{
    width: 100%;
    width:500px;
}
.para2col p{
    padding: 15px 0 25px;
}
.btn1{
    border:1px solid  #3498db;
    background: transparent;
    color: #3498db;
}
.btn1:hover{
    color: whitesmoke;
}


.para3{
    color: #205374;
    width:80%;
    margin:auto;
    padding-top: 80px ;
    padding-bottom: 50px;
}
.para3col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.para3col h1{
    font-size:x-large;
}
.para3col img{
    width: 100%;
    width: 435px
}
.para3col p{
    padding: 15px 0 25px;
}
.btn1{
    border:1px solid  #3498db;
    background: transparent;
    color: #3498db;
}
.btn1:hover{
    color: whitesmoke;
}

.features{
    color: #205374;
    width:80%;
    margin:auto;
    text-align: center;
    padding-top: 100px ;
}
.features h1{
  font-size: 36px;
  font-weight: 600;  
}
.features p{
    color:#777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding:10px;
}
.features .row{
    margin-top:5%;
    display: flex;
    justify-content: space-between;
    padding-left: 7.5%;
}
.featurescol{
    flex-basis: 31%;
    background: #d1d7e636;  
    text-align: justify;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-shadow: 0 0 50px 0 #f4f7ff;
    box-sizing: border-box;
    transition: 0.5s;   
}
.featurescol h3{
    text-align:center;
    font-weight: 600;
    margin:10px 0;
}
.featurescol:hover{
    box-shadow: 0 0 2px 0 #305f74;
    ;
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/***************************************/
